body {
  background-image: url('/public/cc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 
.App {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px; 
}
 
.container {
 
  margin-top: 50px;
}
 
 
 
 

.row {
  justify-content: center;
}

.card {
  padding: 20px;
  margin: 20px 0;
  border: 2px dashed #333;
  border-radius: 10px;
  
}

h4, h5 {
  text-align: center;
  margin-bottom: 20px;
 
  
}
 

#wallet-address {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
  color: rgb(247, 8, 163);
  overflow: hidden;            
  word-wrap: break-word;       
  box-sizing: border-box;        
}


 
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
   border-radius: 5px;
  cursor: pointer;
 
}

 
 
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px dashed #696863;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
 
}

label {
  display: block;
  margin-bottom: 10px;
  color: rgb(255, 0, 17);
}

.pause-button {
  background-color: #a5b005c0;  
  color: #ff0000;  
  border: none;  
  transition: 0.3s;  

  /* Hover effect */
  &:hover {
    background-color: #c00682;  
    transform: scale(1.05);  
  }

 
  &:active {
    background-color: #9e055d;  
    transform: scale(0.95);  
  }
}
.pause-button{
  background-color: orange;
}
.disabled-button {
  background-color: #ff0000;  
  cursor: not-allowed; 
}

.disabled-button:hover {
  background-color: #ff3434;  
  transform: none;  
}
 

form {
  background-color: #faf3e0;  
  padding: 20px; 
  border-radius: 50px; 
  border: 2px dashed #000000;
  box-shadow: 0 4px 8px rgba(47, 206, 143, 0.1);  
  color: rgb(88, 1, 65);
}

 
